<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------content-box-1-------------------->
				<section class="content-box background-gray box-1 zerogrid">
					<div class="row wrap-box"><!--Start Box-->
						<div class="col-1-2">
							<div class="wrap-col">
								<div style="padding-top: 60px;">
									<center><%= image_tag("4.png") %></center>
								</div>
							</div>
						</div>
						<div class="col-1-2">
							<div class="wrap-col">
								<div class="row">
									<div class="t-center" style="padding-top: 30px;">
										<div class="header">
											<h2>Delicious  <span class="color-red">meat</span></h2>
										</div>
										<strong>BECIEGAST NVERITI VITAESAERT ASETY KERTYA ASET APLICA BOSERDE NERAFAE KERTYURAUAS VITAESA. </strong><br/><br>
										<span>Praesent vestibulum aenean nonummy endrerit mauris. Cum sociis natoque Magnis dis parturient montes. Ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem.</span><br/><br>
										<a href="#" class="button" >More Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-2-------------------->
				<section class="content-box background-white box-2 zerogrid">
					<div class="row wrap-box"><!--Start Box-->
						<div class="col-1-2 f-right">
							<div class="wrap-col">
								<div style="padding-top: 60px;">
									<center><%= image_tag("3.png") %></center>
								</div>
							</div>
						</div>
						<div class="col-1-2">
							<div class="wrap-col">
								<div class="row">
									<div class="t-center" style="padding-top: 30px;">
										<div class="header">
											<h2>Salads:</h2>
										</div>
										<strong>BECIEGAST NVERITI VITAESAERT ASETY KERTYA ASET APLICA BOSERDE NERAFAE KERTYURAUAS VITAESA. </strong><br/><br>
										<span>Praesent vestibulum aenean nonummy endrerit mauris. Cum sociis natoque Magnis dis parturient montes. Ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem.</span><br/><br>
										<a href="#" class="button" >More Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-3-------------------->
				<section class="content-box background-gray box-3 zerogrid">
					<div class="row wrap-box"><!--Start Box-->
						<div class="col-1-2">
							<div class="wrap-col">
								<div style="padding-top: 60px;">
									<center><%= image_tag("1.png") %></center>
								</div>
							</div>
						</div>
						<div class="col-1-2">
							<div class="wrap-col">
								<div class="row">
									<div class="t-center" style="padding-top: 30px;">
										<div class="header">
											<h2>Grill menu:</h2>
										</div>
										<strong>BECIEGAST NVERITI VITAESAERT ASETY KERTYA ASET APLICA BOSERDE NERAFAE KERTYURAUAS VITAESA. </strong><br/><br>
										<span>Praesent vestibulum aenean nonummy endrerit mauris. Cum sociis natoque Magnis dis parturient montes. Ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem.</span><br/><br>
										<a href="#" class="button" >More Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-4-------------------->
				<section class="content-box boxstyle-2 box-4">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header">
								<hr class="line-1">
								<h2 style="color: #fff;">Latest event:</h2>
							</div>
							<div class="post">
								<div class="col-1-2">
									<%= image_tag("event.jpg") %>
								</div>
								<div class="col-1-2">
									<div class="wrapper">
										<h3>The title on the article</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
										<a class="button" href="#">Read More</a>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</section>
				
			</div>
		</section>
		<hr class="line">